.screen {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
