#welcome-font {
  font-family: "Press Start 2P";
  /* margin-top: 1%; */
}

.welcome-screen {
  display: flex;

  height: 88vh;
  width: 100vw;
  background: #882424;
  line-height: 10vh;
}

.photo-of-me {
  height: 260px;
  border-radius: 100%;
  border: 8px rgb(1, 44, 1) inset;
}

.introduction-text {
  width: 50%;
  margin: auto;
  font-size: 1.2em;
  line-height: 1.6;
}

@media only screen and (max-width: 530px) {
  .screen {
    height: 100vh;
    width: 100vmax;
  }
  #welcome-font h1 {
    font-size: 2em;
    line-height: 1;
  }
}
