body {
  background: rgb(197, 197, 197);
  color: rgb(26, 24, 24);
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "Dosis", sans-serif;
}
.title {
  font-size: 1.6em;
}

.screen {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container h1 {
  font-size: 44px;
}
